#Signup-container {
  height: 550px;
  border-radius: 20px;
}
#Login-container {
  height: 300px;
  border-radius: 20px;
}
h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.signupInput,
.loginInput {
  width: 100%;
  height: 50px;
  border: 1px solid rgb(121, 111, 111);
  padding: 20px;
  margin-bottom: 15px;
}
#Home-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sideContainer {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 40%;
}
.seachInputForm {
  gap: 1rem;
}

#messagesContainer {
  overflow: hidden;
  align-items: center;
  border-radius: 20px;
}
#home-container,
#sideContainer,
#messagesContainer,
#Signup-container,
#Login-container {
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 3px solid rgba(17, 241, 55, 0.3);
}
#messagesContainer {
  border-left: 0 !important;
}
#logoutContainer {
  margin-right: 250px;
}
#mssginput {
  width: 90%;
  background-color: transparent;
  border: 0;
  outline: none;
  border: none;
  padding: 11px;
}
#sendMessageButton {
  right: 10px;
  cursor: pointer;
  color: gray;
  font-size: 25px;
}
#sendMessageButton:hover {
  color: green;
}
#aut {
  height: 100%;
  overflow: auto;
}
#messagesBox {
  height: 69vh;
  padding-bottom: 10px;
}
.chat-message {
  display: flex;
}

.chat-end {
  justify-content: flex-end;
  padding-right: 5px;
  div#profileImage {
    order: 2;
  }
  h6,
  small {
    text-align: end;
  }
  .bubbleContainer {
    margin-right: 5px;
    p {
      margin: 0;
      overflow-wrap: anywhere;
    }
  }
  #chatbox {
    max-width: 45vw;
    background-color: #007bff;
    color: honeydew;
  }
}

.chat-start {
  justify-content: flex-start;
  padding-left: 5px;
  .bubbleContainer {
    margin-top: 10px;
    margin-left: 5px;
  }
  .bubbleContainer {
    p {
      margin: 0;
      overflow-wrap: anywhere;
    }
  }
  #chatbox {
    max-width: 45vw;
    background-color: rgb(255, 255, 255);
  }
}
.chat-bubble {
  border-radius: 0.5rem;
}

.bg-light {
  background-color: #f5f6f7;
}

.bg-primary {
  background-color: #007bff;
  color: #ffffff;
}
.sidebarHover:hover {
  background-color: #6facee;
}
.sidebarHoverSelect {
  background-color: #007bff;
}
.scroll-container {
  height: 59vh;
}

/* resonsive */

@media (min-width: 320px) and (max-width: 767px) {
  .sidebarHover {
    flex-direction: column;
  }
  #sidebarUsernameandImage {
    justify-content: center !important;
    text-align: center;
    margin-left: 0 !important;
  }
  #noChatSelected {
    padding: 2px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .searchInputForm input {
    width: 100%;
  }
  .emoji {
    display: none;
  }
  .searchInput {
    width: 100%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  #sendMessageButton {
    right: -8px;
    svg {
      font-size: 20px;
    }
  }
  .chat-message small {
    font-size: 11px;
  }
  .chat-start,
  .chat-end {
    padding: 0;
  }
  #recieverName {
    display: flex;
    flex-direction: column;
    padding-bottom: 5px;
  }
  #messagesContainer {
    border-left: 0;
  }
  #messagesBox {
    height: 62vh;
  }
  #messageInputForm {
    padding: 0px 5px !important;
  }
  #searchForm {
    flex-direction: column;
    padding: 0 !important;
    margin-top: 10px;
  }
  #searchForm button {
    margin-top: 8px;
    border: 0 !important;
  }
  #logoutContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .scroll-container {
    height: 57vh;
  }
}

@media (min-width: 320px) and (max-width: 425px) {
  #profileImage {
    .img1 {
      display: none;
    }
    .sidebarHover {
      padding: 0px;
    }
  }
  #mssginput {
    padding-left: 3px;
    padding-right: 0;
  }
}
