body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .mainContainer {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("./jakob-owens-TMxUnMAAwFA-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-track{
    background: gray;
}
::-webkit-scrollbar-thumb{
    background: rgb(61, 59, 59);
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover{
    background:green;
}