@media screen and (max-width : 994px) {
    #loginInput, #signupInput{
        width: 200px;
    }
    #finalBtns{
        display: flex;
        flex-direction: column;
        margin: 0px;
    }
    #heading{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #Login-container{
        height: 400px;
        margin: 0px 15px;
    }
    #Signup-container{
        height: 550px;
        margin: 0px 15px;
    }
}
@media screen and (max-width : 576px){
    #Signup-container{
        height: 650px;
    }
}